
html{
    color-scheme: dark light;
}
@media (prefers-color-scheme: dark) {
    .temperature {
      background: #333;
      color: white;
    }
    .calculator {
      background: black;
      color: #ddd;
    }
    .collapsible {
      background: #333;
      color: white;
    }
    .content {
      background: black;
      color: #ddd;
    }
    .active, .collapsible:hover {
      background: #333;
    }
  }

  @media (prefers-color-scheme: light) {
    .temperature{
      background: white;
      color: #555;
    }
    .calculator {
      background: #eee;
      color: black;
    }
    .collapsible {
      background: white;
      color: #555;
    }
    .collapsible {
      background: #eee;
      color: black;
    }
    .active, .collapsible:hover {
      background-color: #ffffff;
    }
  }
.container{
  text-align: center;
  width: 50vw;
  display: table;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
}
.container > .calculator {
  display: inline-block;
  width: 100%;
  padding: 0 0 1em 0;
}

#button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 40px;
  padding: 10px 16px;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  width: 50vw;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;

}

.footer{
  font-family: 'Roboto', sans-serif;
  font-size: 1vh;
  text-align: center;
  bottom: 1px;
  position: fixed;
}
