
html{
    color-scheme: dark light;
}
:root{
   
}
@media (prefers-color-scheme: dark) {
    .temperature {
      background: #333;
      color: white;
    }
    .calculator {
      background: black;
      color: #ddd;
    }
  }

  @media (prefers-color-scheme: light) {
    .temperature{
      background: white;
      color: #555;
    }
    .calculator {
      background: #eee;
      color: black;
    }
  }

.temperature{
  display: inline-block;
  padding: 1em;
  width: 50vw;
  height: 10vh;
  vertical-align: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.calculator{
    display: inline-block;
    padding: 1em;
    width: 50vw;
    height: 10vh;
    vertical-align: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

.container{
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    text-align: center;
}
